footer {
    background-color: $color_bg_footer;
    color: white;
    padding: 15px 0 30px 25px;
    & .footer--flex {
        @include flex-start;
        @include align-baseline;
        & > p {
            margin: 10px 0 0 0;
        }
        & > i {
            margin-right: 10px;
        }
    }
    & > span {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;     
    }
    & > p {
        margin: 10px 0 0 0;
    }
    & > a {
       color: white;
        text-decoration: none; 
        & > p {
            margin: 10px 0 0 0;
        }
    }
}

