header {
    & div {
        @include flex_center;
        @include align_center;
        padding: 15px 0 15px 0;
    }
    & .goback {
        position: relative;
        left: -50px;
        & a {
            color: black;
        }
    }
    & h1 {
        font-family: 'Shrikhand', cursive;
        margin: 0;
    }
}