@keyframes heart-like {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  25% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    z-index: 3;
    transform: scale(1);
  }
}
@keyframes heart-unlike {
  0% {
    opacity: 0.5;
  }
  15% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes check-turn {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes slideleft {
  0% {
    width: 15%;
  }
  100% {
    width: 45%;
  }
}
@keyframes slideright {
  0% {
    width: 45%;
  }
  100% {
    width: 15%;
  }
}
@keyframes slidetop {
  0% {
    opacity: 0;
    transform: translateY(500px);
    animation-timing-function: cubic-bezier(0, 0.67, 0, 0.99);
  }
  25% {
    opacity: 0.8;
    transform: translateY(400px);
    animation-timing-function: cubic-bezier(0, 0.67, 0, 0.99);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0.67, 0, 0.99);
  }
}
@keyframes loader {
  0% {
    z-index: 2;
    opacity: 0.5;
  }
  10%, 75% {
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  85% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.4;
    z-index: 2;
  }
}
@keyframes spin-fork {
  100% {
    transform: rotateZ(1turn);
  }
}
@keyframes spin-glass {
  100% {
    transform: rotate(360deg);
  }
}
.carte__menu__choix, .restaurant__localisation p {
  font-weight: 300;
}

.btn__rose {
  margin: 30px 0 60px 0;
}

body {
  margin: auto;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.bg_gris {
  background-color: #f6f6f6;
}

.icon_heart {
  position: relative;
  top: -5px;
}
.icon_heart--unlike {
  display: flex;
  align-items: center;
  position: relative;
  top: 9px;
  opacity: 1;
  height: 26px;
  width: 26px;
}
.icon_heart--like {
  display: flex;
  align-items: center;
  position: relative;
  top: -17px;
  background-image: url(../../public/img/animation/bg_heart.png);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform-origin: bottom;
  height: 26px;
  width: 26px;
}
.icon_heart:hover > .icon_heart--like {
  animation: heart-like 1s cubic-bezier(0.17, 0.99, 0.66, 0.99) both;
}
.icon_heart:hover > .icon_heart--unlike {
  animation: heart-unlike 1s both;
}

.icon_checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../public/img/animation/bg_checked.png);
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  position: relative;
  right: -61px;
  top: -19px;
  height: 72px;
  width: 60px;
  color: white;
}

.btn__rose {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 50px;
  width: 250px;
  background: linear-gradient(175deg, #ff79da 40%, #9356dc);
  box-shadow: #cecece 0 5px 10px;
  color: white;
}
.btn__rose:hover {
  cursor: pointer;
  background: linear-gradient(175deg, rgba(255, 121, 218, 0.8) 40%, rgba(147, 86, 220, 0.8));
  box-shadow: #828282 0 10px 10px;
}

.loader {
  display: flex;
  justify-content: center;
}
.loader__box {
  width: 100%;
  height: 100%;
  cursor: wait;
  position: absolute;
  /*background-color: white;*/
  background: linear-gradient(175deg, #ff79da 40%, #9356dc);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3000ms linear backwards;
  opacity: 0;
  z-index: -2;
}

.plate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 20%;
  background-image: url(../../public/img/animation/plate.png);
}

.fork {
  background-image: url(../../public/img/animation/fork.png);
  height: 75px;
  width: 40px;
  position: relative;
  top: -35px;
  right: -3px;
  transform-origin: bottom right;
  transform: rotate(22deg);
  animation: spin-fork 3200ms steps(120);
}

.glass {
  background-image: url(../../public/img/animation/glass.png);
  height: 75px;
  width: 60px;
  position: relative;
  top: -36px;
  right: -7px;
  transform-origin: bottom left;
  transform: rotate(-34deg);
  animation: spin-glass 2200ms steps(100) alternate 2;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 0;
}
header .goback {
  position: absolute;
  top: 10px;
  left: 20px;
}
header .goback a {
  color: black;
}
header h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

footer {
  background-color: #353535;
  color: white;
  padding: 15px 0 30px 25px;
}
footer .footer--flex {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
footer .footer--flex > p {
  margin: 10px 0 0 0;
}
footer .footer--flex > i {
  margin-right: 10px;
}
footer > span {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}
footer > p {
  margin: 10px 0 0 0;
}
footer > a {
  color: white;
  text-decoration: none;
}
footer > a > p {
  margin: 10px 0 0 0;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.presentation__map {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  height: 45px;
  width: 100%;
  border-top: 3px solid #dddddd;
}
.presentation__map input {
  border: none;
  background-color: #e9e9e9;
  margin-left: 10px;
  font-weight: bold;
}
.presentation__map input:focus {
  outline: 1px solid #c3c3c3;
  border-radius: 5px;
}
.presentation p {
  color: #909090;
}
.presentation p, .presentation h2 {
  text-align: center;
  padding: 0 10px 0 10px;
  margin: 10px 0 0 0;
}

.fonctionnement, .restaurants {
  padding: 50px 0 60px 0;
}
.fonctionnement h2, .restaurants h2 {
  text-align: left;
  padding-left: 25px;
  margin: 0;
}

.fonctionnement--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fonctionnement__choix {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  width: 330px;
  border-radius: 25px;
  margin: 15px 0 15px 0;
  box-shadow: #cecece 0 5px 10px;
}
.fonctionnement__choix__numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #9356dc;
  border-radius: 50px;
  position: relative;
  left: -10px;
  color: white;
}
.fonctionnement__choix__icone {
  color: #737373;
  position: relative;
  left: 10px;
}
.fonctionnement__choix p {
  position: relative;
  left: 35px;
  font-weight: bold;
}
.fonctionnement__choix:hover {
  background-color: #f2eafb;
  cursor: pointer;
  box-shadow: #828282 0 10px 10px;
}
.fonctionnement__choix:hover > .fonctionnement__choix__icone {
  color: #9356dc;
}

.restaurants--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restaurant {
  margin: 15px 0 15px 0;
  background: white;
  border-radius: 30px;
  height: 250px;
  box-shadow: #cecece 0 5px 10px;
}
.restaurant__info {
  position: relative;
  top: -30px;
}
.restaurant__nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  position: relative;
  top: 20px;
  left: 240px;
  background-color: #99E2D0;
  z-index: 1;
  color: #1b6150;
}
.restaurant__nouveau--invisible {
  z-index: -1;
}
.restaurant__boximg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 340px;
  height: 175px;
  border-radius: 30px 30px 0 0;
}
.restaurant__boximg img {
  width: 100%;
  height: auto;
}
.restaurant__localisation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px 0 15px;
  line-height: 10px;
}
.carte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carte__image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 375px;
  height: 250px;
}
.carte__image img {
  width: 100%;
  height: auto;
}
.carte__titre {
  font-family: "Shrikhand", cursive;
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.carte__menu {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
  top: -30px;
  width: 375px;
  height: auto;
  margin-bottom: -30px;
}
.carte__menu--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.carte__menu__choix {
  overflow: hidden;
}
.carte__menu__choix--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carte__menu__choix h3 {
  text-transform: uppercase;
}
.carte__menu__choix--ligne {
  display: inline-block;
  position: relative;
  top: -10px;
  width: 40px;
  height: 1px;
  border-bottom: 2px solid #99E2D0;
  color: #f6f6f6;
}
.carte__menu__choix__plat {
  border-radius: 20px;
  box-shadow: #cecece 0 5px 10px;
  background-color: white;
  overflow: hidden;
  width: 350px;
  height: 70px;
  margin: 10px 0 10px 0;
  display: flex;
  animation: slidetop 2500ms both;
}
.carte__menu__choix__plat--anim1 {
  animation-delay: 100ms;
}
.carte__menu__choix__plat--anim2 {
  animation-delay: 200ms;
}
.carte__menu__choix__plat--anim3 {
  animation-delay: 300ms;
}
.carte__menu__choix__plat h4, .carte__menu__choix__plat p, .carte__menu__choix__plat .prix {
  margin: 10px;
}
.carte__menu__choix__plat:hover > .carte__menu__choix__plat--checked {
  animation: slideleft 500ms both;
}
.carte__menu__choix__plat:hover > .carte__menu__choix__plat--checked .icon_checked i {
  animation: check-turn 500ms 150ms both;
}
.carte__menu__choix__plat--checked {
  animation: slideright 300ms both;
}
.carte__menu__choix__plat--checked .prix {
  width: 40px;
  margin: 0;
  position: relative;
  top: 38px;
  font-weight: bold;
}
.carte__menu__choix__plat--details {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte__menu__choix__plat--details p, .carte__menu__choix__plat--details h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
