footer > i {
    width: 15px;
    height: 15px;
}
.map > i {
    width: 20px;
    height: 20px;
}
.icon__heart {
    position: relative;;
    top: -15px;
    &--unlike {
        position: relative;
        top: 9px;
        opacity: 1;
    }
    &--like {
        position: relative;
        top: -9px;
        background-image: url(../../public/img/bg_heart.png);
        background-clip: text;
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, .1);
        opacity: 0;
        transform-origin: bottom;
    }
    &:hover {
        & > .icon__heart--like {
            animation: heart-like 1s cubic-bezier(.17,.99,.66,.99) both;
        }
        & >.icon__heart--unlike {
            animation: heart-unlike 1s both;
        }
    }
}