body {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
}
h1 {
    font-family: 'Shrikhand', cursive;
}

p, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
.flexcenter, .flexbetween, .flexaround, .flexstart {
    display: flex;
    align-items: center;
}
.flexcenter {
    justify-content: center;
}
.flexbetween {
    justify-content: space-between;
}
.flexaround {
    justify-content: space-around;
}
.flexstart {
    justify-content: flex-start;
}
.flexstartbaseline {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.bg_gris {
    background-color: $color_bg_gris;
}