body {
    max-width: 1440px;
    margin: auto;
}
h1, h2, h3 {
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}
footer {
    background-color: $color_bg_footer;
    color: white;
    padding: 25px 0 40px 25px;
}

.flexcenter, .flexbetween, .flexaround, .flexstart {
    display: flex;
    align-items: center;
}
.flexcenter {
    justify-content: center;
}
.flexbetween {
    justify-content: space-between;
}
.flexaround {
    justify-content: space-around;
}
.flexstart {
    justify-content: flex-start;
}

footer > span {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}
footer div > p {
    margin: 10px 0 10px 10px;
}
footer > a {
    color: white;
    text-decoration: none;
}