.presentation {
    @include flex_center;
    @include align_center;
    @include flex_sens_col;
    &__map {
        @include flex_center;
        @include align_center;
        background-color: $color_bg_map;
        height: $map_height;
        width: 100%;
        border-top: 3px solid darken($color_bg_map, 5);
        & input {
            border: none;
            background-color: $color_bg_map;
            margin-left: 10px;
            font-weight: bold;
            &:focus {
                outline: 1px solid darken($color_bg_gris, 20);
                border-radius: 5px;
            }
        } 
    }
    & p {
        color: darken($color_bg_gris,40);
    }
    & p, h2 {
        text-align: center;
        padding: 0 10px 0 10px;
        margin: 10px 0 0 0;
    }
}

.fonctionnement, .restaurants {
    padding: 50px 0 60px 0;
    & h2 {
        text-align: left;
        padding-left: 25px;
        margin: 0;
        @include media-tablet {
            text-align: center;
        }
        @include media-desktop {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}
.fonctionnement {
    &--flex {
        @include flex_center;
        @include align_center;
        @include flex_sens_col;
        @include media-tablet {
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        @include media-desktop {
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
    &__choix {
        @include flex-start;
        @include align_center;
        height: $choix-height;
        width: $choix-width;
        max-width: $choix-max-width;
        border-radius: 25px;
        margin: 15px 1px 15px 1px;
        @include box-shadow;
        @include media-tablet {
            margin: 15px;
        }
        @include media-desktop {
            margin: 15px;
        }
        &__numero {
            @include flex_center;
            @include align_center;
            width: 25px;
            height: 25px;
            background-color: $color_primary;
            border-radius: 50px;
            position: relative;
            left: -10px;
            color: white;
        }
        &__icone {
            color: lighten(black, 45);
            position: relative;
            left: 10px;
        }
        & p {
            position: relative;
            left: 35px;
            font-weight: bold;
        }
        &:hover {
            background-color: lighten($color_primary, 35);
            cursor: pointer;
            @include box-shadow-plus;
            & > .fonctionnement__choix__icone {
                color: $color_primary;
            }
        }
        
    }
}
.restaurants {
    &--flex {
        @include flex_center;
        @include align_center;
        @include flex_sens_col;
        @include media-tablet {
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include media-desktop {
            justify-content: space-around;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}


.restaurant {
    margin: 15px 0 15px 0;    
    background: white;
    border-radius: 30px;
    height: 250px;
    @include box-shadow;
    @include media-desktop {
        margin: 15px;
    }
    &__info {
        position: relative;
        top: -30px
    }
    &__nouveau {
        @include flex_center;
        @include align_center;
        width: 80px;
        height: 30px;
        position: relative;
        top: 20px;
        left: 220px;
        background-color: $color_tertiary;
        z-index: 1;
        color: darken($color_tertiary, 50);
        &--invisible {
            z-index: -1;
        }
    }
    &__boximg {
        @include imagebox;
        width: $boximg-width;
        max-width: $boximg-max-width;
        height: 175px;
        border-radius: 30px 30px 0 0;
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__localisation {
        @include flex_between;
        @include align_center;
        margin: 0 25px 0 15px;
        line-height: 10px;
        & p {
            @extend %texte-gris;
        }
    }
}