.map {
    background-color: $color_bg_map;
    height: $map_height;
    width: 100%;
    border-top: 3px solid darken($color_bg_map, 5);
    & input {
        border: none;
        background-color: $color_bg_map;
        margin-left: 10px;
        font-weight: bold;
        &:focus {
            outline: 1px solid darken($color_bg_gris, 20);
            border-radius: 5px;
        }
    }
    
}

.presentation {
    & p {
        color: darken($color_bg_gris,40);
    }
    & p, h2 {
        text-align: center;
        padding: 0 10px 0 10px;
        margin: 10px 0 0 0;
    }
    & span {
        margin: 30px 0 60px 0;
    } 
}


.fonctionnement, .restaurants {
    padding: 50px 0 60px 0;
    & h2 {
        text-align: left;
        padding-left: 25px;
        margin: 0;
    }
}

.choix {
    height: $choix-height;
    width: $choix-width;
    border-radius: 25px;
    margin: 15px 0 15px 0;
    @include box-shadow;
    & .numero {
        width: 25px;
        height: 25px;
        background-color: $color_primary;
        border-radius: 50px;
        position: relative;
        left: -10px;
        color: white;
    }
    & .choix__icone {
        color: lighten(black, 45);
        position: relative;
        left: 10px;
    }
    & p {
        position: relative;
        left: 35px;
        font-weight: bold;
    }
    &:hover {
        background-color: lighten($color_primary, 35);
        cursor: pointer;
        @include box-shadow-plus;
        & > .choix__icone {
            color: $color_primary;
        }
    }
    
}

.restaurant {
    margin: 15px 0 15px 0;    
    background: white;
    border-radius: 30px;
    @include box-shadow;
    &__boximg {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 340px;
        height: 175px;
        border-radius: 30px 30px 0 0;
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__info {
        margin: 0 25px 0 15px;
        & p {
            color: lighten(black, 40);
        }
    }
}