.carte {
    @include flex_center;
    @include align_center;
    @include flex_sens_col;
    &__image {
        @include imagebox;
        max-width: $restaurant-width;
        height: $restaurant-width / 1.5;
        @include media-tablet {
            height: $restaurant-width / 3;
        }
        @include media-desktop {
            max-height: $restaurant-width / 4.5;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__titre {
        padding: 15px 15px 0 15px;
        @include flex_between;
        @include align-baseline;
        @include media-desktop {
            @include flex_center;
            @include align_center;
            @include flex_sens_col;
        }
    }
    &__menu {
        background-color: $color_bg_gris;
        border-radius: 30px 30px 0 0;
        position: relative;
        top: -30px;
        width: 100%;
        height: auto;
        margin-bottom: -30px;
        &--flex {
            @include flex_between;
            @include align_center;
            @include flex_sens_col;
            @include media-tablet {
                justify-content: space-evenly;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start;
            }
            @include media-desktop {
                justify-content: space-around;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: flex-start; 
            }            
        }
        &__choix {
            @extend %texte-gris;
            overflow: hidden;
            width: 98%;
            @include media-tablet {
                width: auto;
            }
            @include media-desktop {
                width: auto;
            }
            &--flex {
                @include flex_center;
                @include align_center;
                @include flex_sens_col;
            }
            & h3 {
                text-transform: uppercase;
            }
            &--ligne {
                display: inline-block;
                position: relative;
                top: -10px;
                width: 40px;
                height: 1px;
                border-bottom: 2px solid $color_tertiary;
                color: $color_bg_gris;
            }
            &__plat {
                @include border-radius-plat;
                @include box-shadow;
                background-color: white;
                overflow: hidden;
                width: 98%;
                max-width: 350px;
                height: 70px;
                margin: 10px 0 10px 0;
                display: flex;
                animation: slidetop 2500ms both;
                @for $i from 1 through 3 {
                    &--anim#{$i} {
                        animation-delay : 100ms * $i;
                    }
                }
                & h4, p, .prix {
                    margin: 10px;
                }
                &:hover  > .carte__menu__choix__plat--checked {
                    animation: slideleft 500ms both;
                }
                &:hover > .carte__menu__choix__plat--checked .icon_checked i {
                    animation: check-turn 500ms 150ms both;
                }
                &--checked {
                    animation: slideright 300ms both;
                    & .prix {
                        width: 40px;
                        margin: 0;
                        position: relative;
                        top: 38px;
                        font-weight: bold;
                    }
                }
                &--details {
                    width: $restaurant-plat-detail-width;
                    max-width: 300px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    & p, h4 {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
.commander {
    width: 100%;
    @include flex_center;
}