// animation J'aime //
@keyframes heart-like {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        z-index: 3;
        transform: scale(1);
    }
}
@keyframes heart-unlike {
    0% {
        opacity: .5;
    }
    15%{
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

// animation Sélection d'un plat //
@keyframes check-turn {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
    
}
@keyframes slideleft {
    0% {
        width: 30vw;
    }
    100% {
        width: 50vw;
    }
}
@keyframes slideright {
    0% {
        width: 50vw;
    }
    100% {
        width: 15vw;
    }
}

// animation affichage arrivée des plats //
@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(500px);
        animation-timing-function: cubic-bezier(0,.67,0,.99);
    }
    25% {
        opacity: .8;
        transform: translateY(400px);
        animation-timing-function: cubic-bezier(0,.67,0,.99);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0,.67,0,.99);
    }
}
// animation SpinLoader //
@keyframes loader {
    0% {
        z-index: 2;
        opacity: .5;
        cursor: wait;
    }
    10%, 80% {
        opacity: 1;
    }
    85% {
        opacity: .7;
    }
    90% {
        opacity: .6;
    }
    95% {
        opacity: 0.4;
        z-index: 2;
    }
}
@keyframes spin-element {
    100% {
        transform: rotate(1turn);
    }
}
@keyframes resto {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}