@keyframes heart-like {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 0.5;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        z-index: 3;
        transform: scale(1);
    }
}
@keyframes heart-unlike {
    0% {
        opacity: .5;
    }
    15%{
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@keyframes check-turn {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
    
}
@keyframes slideleft {
    0% {
        width: 15%;
    }
    100% {
        width: 45%;
    }
}
@keyframes slideright {
    0% {
        width: 45%;
    }
    100% {
        width: 15%;
    }
}
@keyframes slidetop {
    0% {
        opacity: 0;
        transform: translateY(300px);
        animation-timing-function: cubic-bezier(0,.67,0,.99);
    }
    25% {
        opacity: .8;
        transform: translateY(300px);
        animation-timing-function: cubic-bezier(0,.67,0,.99);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0,.67,0,.99);
    }
}
@keyframes loader {
    0% {
        z-index: 2;
        opacity: .5;
    }
    10%, 75% {
        opacity: 1;
    }
    80% {
        opacity: .7;
    }
    85% {
        opacity: .6;
    }
    90% {
        opacity: 0.4;
        z-index: 2;
    }
}
@keyframes spin-fork {
    100% {
        transform: rotateZ(1turn);
    }
}
@keyframes spin-glass {
    100% {
        transform: rotate(360deg);
    }
}