@mixin btn-color-degrad {
    background: linear-gradient(175deg, $color_secondary 40%, $color_primary);
}
@mixin border-radius-restaurant {
    border-radius: 30px 30px 0 0;
}
@mixin border-radius-plat {
    border-radius: 20px;
}
@mixin box-shadow {
    box-shadow: lighten($color_bg_footer, 60) 0 5px 10px;
}
@mixin box-shadow-plus {
    box-shadow: lighten($color_bg_footer, 30) 0 10px 10px;
}
@mixin imagebox {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
@mixin flex_center {
    display: flex;
    justify-content: center;
}
@mixin flex_start {
    display: flex;
    justify-content: flex-start;
}
@mixin flex_between {
    display: flex;
    justify-content: space-between;
}
@mixin flex_around {
    display: flex;
    justify-content: space-around;
}
@mixin align_center {
    align-items: center;
}
@mixin align-baseline {
    align-items: baseline;
}
@mixin flex_sens_col {
    flex-direction: column;
}
@mixin flex_sens-row {
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin flex_heart {
    display: flex;
    align-items: center;
}

// media queries :  site en mobil first //
@mixin media-tablet {
    @media screen AND (min-width: 768px) AND (max-width: 991px) {
        &{ @content;}
    }
}
@mixin media-desktop {
    @media screen AND (min-width: 992px) {
        &{ @content;}
    }
}