//* couleurs site *//
$color_primary: rgb(147, 86, 220);
$color_secondary: rgb(255, 121, 218);
$color_tertiary: #99E2D0;
$color_bg_footer: #353535;
$color_bg_gris: #f6f6f6;
$color_bg_map:  darken($color_bg_gris, 5);

 
$btn_rose_height: 50px;
$map_height: 45px;
$choice-step-height: 70px;
