//* couleurs site *//
$color_primary: rgb(147, 86, 220);
$color_secondary: rgb(255, 121, 218);
$color_tertiary: #99E2D0;
$color_bg_footer: #353535;
$color_bg_gris: #f6f6f6;
$color_bg_map:  darken($color_bg_gris, 5);

// taille Bouton sur fond Rose // 
$btn_rose_height: 50px;

// INDEX - taille de la zone de recherche //
$map_height: 45px;

// INDEX -  taille bouton fonctionnement //
$choix-height: 70px;
$choix-width: 88vw;
$choix-max-width: 330px;

// INDEX - photo Restaurants //
$boximg-width: 98vw;
$boximg-max-width: 340px;

// RESTAURANTS - largeur page //
$restaurant-width: 100vw;
$restaurant-plat-detail-width: 96vw;
